[Unit]
Description=Bucktrix the bot

[Service]
User=debian
Group=debian
WorkingDirectory=/home/debian/
ExecStart=/home/debian/bucktrix serve

[Install]
WantedBy=multi-user.target